<section class="app-section">
    <div class="app-section-wrapper">
       <div>
          <div class="app-section-wrapper-content">
             <div class="app-welcome">Hi, Welcome to QuestionJS</div>
             <div class="app-description">We will provide you a platform to practice your JavaScript knowledge.</div>
             <div class="app-select-question" ><a href="/questions" class="primary blue big">Select Question</a></div>
          </div>
       </div>
       <div></div>
    </div>
 </section>